:root {
    --aa: #0000ff;
}
.test12 {
    // border: 1px solid #afafaf;
    color: #ff0000;
    font-size: 22px;
    & .p12 {
        border: 1px solid #00ff00;
        border-radius: 5px;
        color: var(--aa);
        font-size: 16px;
    }
}
